%section#best-project
  .container
    .illustration.col-md-6
      = image_tag "Lalaoula.png"
    .col-md-6
      Blablabla

/ %section#projects
/   .container
/     .col-md-4
/       .illustration.col-md-12
/         = image_tag "Lalaoula.png"
/       .col-md-12
/         Blablabla
/     .col-md-4
/       .illustration.col-md-12
/         = image_tag "Lalaoula.png"
/       .col-md-12
/         Blablabla
/     .col-md-4
/       .illustration.col-md-12
/         = image_tag "Lalaoula.png"
/       .col-md-12
/         Blablabla